
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:#ffffff;
  height: 90px; /* Ajusta la altura para hacerlo más compacto */
}

/* Espaciador para centrar el logo */
.example-spacer {
  flex-grow: 2;
}

/* Logo centrado */
.navbar-brand {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand img {
  height: 50px; /* Ajusta el tamaño del logo */
  max-width: 100%;
}

.search-bar {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Ajusta la distancia entre el botón y el input */
  display: flex;
  align-items: center;
  padding-top: 5px; /* Baja un poco el botón */
}

.search-icon {
  font-size: 24px; /* Tamaño del ícono */
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Alineación y espaciado de los íconos */
.icon-container {
  display: flex;               /* Usamos flexbox para alinear los íconos */
  justify-content: center;      /* Centra los íconos horizontalmente */
  align-items: center;          /* Centra los íconos verticalmente */
  gap: 20px;                    /* Espacio entre los íconos */
}

.mat-icon-button {
  color: #745321;
  font-size: 24px;              /* Tamaño de los íconos */
  cursor: pointer;
}

body {
  transition: all 1.5s ease;
}

#toggle {
  display: none;
}

#label_toggle {
  position: static;
  cursor: pointer;
}

.dark {
  background-color: black;
  color: aliceblue;
  transition: all 1.5s ease;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
