.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  height: 90px;
  color: #ab7b60;
}


.example-spacer {
  flex-grow: 2;
}


.navbar-brand {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand img {
  height: 50px;
  max-width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.search-icon {
  font-size: 24px;
  color: #ab7b60; 
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ab7b60; 
  border-radius: 4px;
}


.mat-icon-button, .mat-menu-item, #label_toggle {
  color: #ab7b60; 
}


.mat-menu-content {
  color: #ffffff; }

#toggle {
  display: none;
}

#label_toggle {
  position: static;
  cursor: pointer;
}

.dark {
  background-color: #947664;;
  color: aliceblue;
  transition: all 1.5s ease;
}

body {
  transition: all 1.5s ease;
}
