<div id="sobre-nosotros" class="sobre-nosotros">
    <!-- Sección "Sobre Nosotros" con un ID para referencia y clase para estilos -->
    <div class="container">
        <h2>Sobre Nosotros</h2>
        <!-- Título de la sección -->
        <div class="contenido">
            <div class="imagen">
                <!-- Contenedor para la imagen -->
                <img src="../../../../../assets/local.png" alt="Horneaditoooooos">
            </div>
            <div class="texto">
                <!-- Contenedor del texto descriptivo -->
                <p>Bienvenidos a <strong>Horneaditos</strong>, tu panadería de confianza, donde cada día comenzamos con
                    la dedicación de crear productos frescos y de calidad. Desde que abrimos nuestras puertas en 1995,
                    hemos trabajado para ofrecer lo mejor en panadería artesanal, horneando con ingredientes
                    seleccionados y recetas que han pasado de generación en generación.</p>

                <p>En <strong>Horneaditos</strong>, creemos que la comida es más que solo alimento, es una forma de
                    compartir momentos especiales. Nuestras <strong>facturas</strong>, <strong>tortas</strong> y
                    <strong>delicias</strong> están pensadas para acompañarte en cada ocasión, ya sea un desayuno en
                    familia, una merienda con amigos o la celebración de un evento importante. Nuestro equipo de
                    panaderos y pasteleros se esfuerza día a día para ofrecer productos que no solo se vean bien, sino
                    que también te hagan sentir como en casa.
                </p>

                <p>Estamoss orgullosos de nuestra herencia y del compromiso que tenemos con la comunidad. Nos encanta
                    recibir a nuestros clientes con una sonrisa y con el aroma a pan recién horneado que inunda nuestra
                    tienda. La calidad y el amor por lo que hacemos son los ingredientes secretos que ponemos en cada
                    receta.</p>

                <p>Además, en <strong>Horneaditos</strong> nos mantenemos en constante evolución, explorando nuevas
                    recetas, técnicas y productos para sorprenderte. Desde los clásicos <strong>churros</strong> y
                    <strong>medialunas</strong>, hasta innovaciones que mezclan sabores y texturas, siempre con el sello
                    de calidad que nos caracteriza.
                </p>

                <p><strong>¡Te invitamos a visitarnos y disfrutar de la experiencia única que es Horneaditos! Cada
                        bocado cuenta una historia, y queremos que seas parte de ella.</strong></p>
            </div>
        </div>
    </div>
</div>